{% extends "layout.html" %}
{% block content %}
<div class="page">

{% if produto %}
    <h3>Atualizar fornecedor</h3>
{% else %}
    <h3>Cadastro fornecedor</h3>
{% endif %}

<form class="manter" action="/save_fornecedor" method="POST" >
    {% if produto %}
        <input type="hidden" name="idFornecedor" value="{{ fornecedor[0] }}">
    {% endif %}
    <label>
        <span>Nome</span>
        <input type="text" value="{{ fornecedor[1] }}" name="nome" autocomplete="off" minlength="2" required="required"/>
    </label>
    <label>
        <span>CNPJ</span>
        <input type="text" value="{{ fornecedor[2] }}" name="cnpj" autocomplete="off"/>
    </label>
    <label>
        <span>Site</span>
        <input type="text" value="{{ fornecedor[3] }}" name="site" autocomplete="off"/>
    </label>
    <label>
        <span>Pedidos</span>
        <input type="number" value="{{ fornecedor[4] }}" name="pedidos" autocomplete="off"/>
    </label>
    {% if fornecedor %}
        <input type="submit" value="atualizar"/>
    {% else %}
        <input type="submit" value="adicinar"/>
    {% endif %}
</form>

</div>
{% endblock %}