{% extends "layout.html" %}
{% block content %}
<div class="page">

<h3>Manter Produto</h3>

    <div class="dataview">
        <div class="th">ID</div>
        <div class="th">Nome</div>
        <div class="th">Preço</div>
        <div class="th">Quantidade</div>
        <div class="th">Actions</div>
    {% for pro in produtos %}
        <div> {{ pro[0] }} </div>
        <div> {{ pro[1] }} </div>
        <div> {{ pro[3] }} </div>
        <div> {{ pro[4] }} </div>
        <div>
            <a href="/delete_produtos/{{pro[0]}}">[X]</a> |
            <a href="/produtos/edit/{{pro[0]}}">[E]</a>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}