{% extends "layout.html" %}
{% block content %}
<div class="page">

<h3>Manter Fornecedor</h3>

    <div class="dataview">
        <div class="th">ID</div>
        <div class="th">Nome</div>
        <div class="th">CNPJ</div>
        <div class="th">Pedidos</div>
        <div class="th">Actions</div>
    {% for forn in fornecedor %}
        <div> {{ forn[0] }} </div>
        <div> {{ forn[1] }} </div>
        <div> {{ forn[2] }} </div>
        <div> {{ forn[4] }} </div>
        <div>
            <a href="/delete_fornecedor/{{forn[0]}}">[X]</a> |
            <a href="/fornecedor/edit/{{forn[0]}}">[E]</a>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}