<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>About</title>
    </head>

    <body>
        <h1>Informações sobre o sistema</h1>

        <h2>Memória</h2>
        <p>3,5GiB</p>

        <h2>Processador</h2>
        <p>AMD® Ryzen 5 2500u with radeon vega mobile gfx × 8 </p>

        <h2>Gráficos</h2>
        <p>AMD® Radeon(tm) vega 8 graphics</p>

        <h2>Capacidade de disco</h2>
        <p>1,0TB</p>

        <h2>Nome do SO</h2>
        <p>Zorin OS 16.1</p>

        <h2>Tipo do SO</h2>
        <p>64 bits</p>

        <h2>Sistemas de janelas</h2>
        <p>X11</p>
    </body>
</html>